<h1>Twitter</h1>
<form id='tweet_form' action='/tweet' method='post'>
  <textarea name='tweet' placeholder='Tweet!' autofocus='autofocus'></textarea>
  <input type='submit' value='Tweet it!'>
</form>

<div id='rainbow_cat'><img src="/CatNyan.gif"></div>
